h6 {
  /* background-color: blueviolet; */
  width: 15rem;
  margin: 0.5rem auto;
  text-align: center;
  /* border-radius: 5px; */
}
body {
  padding: 2rem;
  background-color: antiquewhite;
}

hr {
  margin: 0;
}

.taskControl {
  text-align: center;
  margin-bottom: 2rem;
}

.line {
  display: flex;
}
